/* Look into webkit overflow scrolling */
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin: 0;
  background: #FFFCF9;
  max-height: 100vh;
  overflow: hidden;
  position: relative; }

.works {
  overflow: auto;
  max-height: none; }

.nav {
  z-index: 2;
  width: 100vw;
  height: 70px;
  background: #FFFCF9;
  display: flex;
  vertical-align: center;
  align-items: center;
  position: fixed; }
  .nav ul > li {
    display: inline-block; }
  .nav .hamburger {
    position: absolute;
    right: 0;
    margin: 0 15px; }
  .nav-logo img {
    max-width: 100%; }
  .nav-logo-wrapper {
    margin: 0 auto;
    width: 88px;
    text-align: center;
    overflow: hidden;
    display: none; }

main {
  display: flex;
  flex-direction: column; }

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative; }
  section[role="content-header"] {
    padding: 22px;
    min-height: 20vh;
    flex-shrink: 0;
    margin-top: 10.75%; }
  section[role="content"] {
    flex-basis: 60vh;
    flex: 1; }

.content-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 3.5em;
  -webkit-text-stroke-width: 1.66px;
  letter-spacing: 1.35px;
  color: transparent; }
  .content-heading--work {
    -webkit-text-stroke-color: #0DCF40;
    filter: drop-shadow(1px 1px 65px #0DCF40); }
  .content-heading--bio {
    -webkit-text-stroke-color: #F0B109;
    filter: drop-shadow(1px 1px 65px #F0B109); }
  .content-heading--contact {
    -webkit-text-stroke-color: #0E6898;
    filter: drop-shadow(1px 1px 65px #0E6898); }
.content-subheading {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 60%; }
  .content-subheading-wrapper {
    padding: 1.5vh 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .content-subheading--contact {
    text-align: left;
    margin-left: 5%; }

.carousel {
  width: 100%;
  text-align: center; }
  .carousel h3 {
    font-family: "Roboto", sans-serif;
    margin: 1.5% 0;
    font-size: 1.15em;
    font-weight: normal; }

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  padding: 22px; }
  .slide-bg--color1 {
    background: #3694C7;
    color: #fcfcfc; }
  .slide-bg--color2 {
    background: #32D85E; }
  .slide-bg--color3 {
    background: #FF523B; }
  .slide-bg--color4 {
    background: #FFA53B; }

.slide-content-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }
.slide-content-wrapper {
  text-align: left; }
  .slide-content-wrapper .header {
    color: black;
    font-family: "Work Sans", sans-serif;
    width: 80%;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    margin: 4% 0; }
  .slide-content-wrapper .caption {
    width: 95%;
    font-size: 0.75em;
    margin: 3% 0 0 0;
    font-weight: normal; }
  .slide-content-wrapper .details {
    font-size: 0.75em;
    margin: 8% 0 0 0; }

.slide-img {
  text-align: center;
  max-width: 100%;
  filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
  .slide-img-container {
    width: 100%;
    margin: 8.5% 0;
    position: relative; }
  .slide-img-wrapper {
    margin: 0 auto;
    max-width: 80%;
    text-align: center; }

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(17vh, auto);
  grid-gap: 0px;
  justify-items: stretch;
  align-items: stretch; }
  .grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed lightgrey;
    transition: 100ms ease-in-out;
    flex-direction: column;
    cursor: pointer; }
    .grid div:hover {
      background: #3694C7; }
  .grid-item p {
    text-align: center;
    width: 100%;
    font-size: 1em;
    margin: 5% auto; }
  .grid-item a {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .grid-item img {
    max-width: 50px; }
  .grid-item--1 {
    grid-area: 1 / 2 / 3 / 5; }
  .grid-item--2 {
    grid-area: 1 / 1 / 2 / 2; }
  .grid-item--3 {
    grid-area: 2 / 1 / 3 / 2; }
  .grid-item--4 {
    grid-area: 3 / 3 / 5 / 5; }
  .grid-item--5 {
    grid-area: 3 / 1 / 5 / 3; }

.intro {
  overflow: hidden; }
  .intro-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center; }
    .intro-wrapper div {
      position: relative; }
    .intro-wrapper h1 {
      position: absolute;
      font-size: 20.75px;
      width: 250px;
      right: 7%;
      line-height: 1.3;
      font-weight: normal;
      font-family: "Work Sans", sans-serif; }

footer {
  display: none;
  min-height: 95px;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  flex-shrink: 0; }

.cta-wrapper--fixed {
  position: fixed;
  right: 5%;
  bottom: 2.5%;
  z-index: 1;
  animation: spin 6666ms linear infinite; }

.contact-img {
  border-radius: 100%;
  border: 3px solid transparent;
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.25)); }
  .contact-img--wrapper img {
    height: 50px;
    width: 50px; }
  .contact-img:hover {
    border: 3px solid yellow; }

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 22px; }
  .bio-container--image {
    min-width: 150px;
    width: 53%;
    max-width: 190px; }
.bio-wrapper p {
  font-size: 1.22em;
  line-height: 1.3;
  width: 89%; }
.bio img {
  max-width: 100%;
  border-radius: 100%;
  border: 2px solid black; }

.contact {
  background: #e6e6e6; }
  .contact-img-wrapper {
    width: 44px; }
    .contact-img-wrapper img {
      max-width: 100%; }
  .contact-wrapper {
    height: 100%;
    width: 100vw; }
  .contact-form {
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 22px; }
    .contact-form input {
      min-width: 70px;
      font-size: 1.2em;
      height: 40px;
      margin-bottom: 22px;
      text-align: center; }
      .contact-form input[name="name"] {
        flex-basis: 36.66%; }
      .contact-form input[name="email"] {
        flex-basis: 60%; }
      .contact-form input[name="topic"] {
        width: 100%; }
      .contact-form input[type="submit"] {
        color: white;
        box-shadow: none;
        border: 0;
        padding: 0;
        background: #32D85E;
        margin: 5% auto 0;
        width: 150px;
        border-radius: 120px; }
    .contact-form textarea {
      text-align: left;
      padding: 3%;
      width: 100%;
      height: 17vh;
      max-height: 400px;
      font-size: 20px;
      font-family: "Roboto", sans-serif; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
