@charset "UTF-8";
/* Look into webkit overflow scrolling */
* {
  box-sizing: border-box; }

.spotify-now-playing-widget {
  height: 4.66vw;
  max-height: 33px;
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex; }
  .spotify-now-playing-widget a {
    color: inherit;
    text-decoration: none; }
  .spotify-now-playing-widget .badge {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Source Code Pro", monospace; }
  .spotify-now-playing-widget .badge-details {
    background: #32D85E;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    animation-name: scroll;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transform-origin: right;
    animation-timing-function: linear; }
  .spotify-now-playing-widget #track-info {
    width: auto;
    padding: 0 0.3em;
    margin: 0 0.3em; }
  .spotify-now-playing-widget #now-playing {
    color: white;
    padding: 0 0.75em;
    border-radius: 5px; }
    .spotify-now-playing-widget #now-playing:span {
      margin-left: 0.5em; }

#work-icon {
  cursor: url("../img/cursors/plant.cur"), auto; }

#bio-icon {
  cursor: url("../img/cursors/arizona.cur"), auto; }

.live > img {
  max-height: 25px;
  max-width: 25px; }

#contact-links {
  height: 100px;
  padding-top: 22px;
  width: 375px; }

body {
  font-family: sans-serif;
  margin: 0;
  background: #FFFCF9;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

html {
  height: -webkit-fill-available; }

.blur-bg {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  margin-bottom: 20px;
  background: rgba(255, 252, 249, 0.8);
  z-index: -1;
  backdrop-filter: blur(20px); }

.contact-body, .intro-body {
  max-height: 100vh !important;
  min-height: -webkit-fill-available; }

.label {
  margin: 0 0.4em;
  padding: 0.2em 0.4em;
  border-radius: 20px;
  white-space: nowrap; }
  .label-progress {
    font-size: 13px;
    background: #C2E0C6; }
    .label-progress::after {
      content: " ♨️"; }
  .label-tech {
    font-size: calc(8.75px + 6 * ((100vw - 320px) / 680));
    white-space: initial;
    margin: 0;
    color: black;
    background: #FFFCF9; }

.particles {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.93;
  max-height: 100%;
  z-index: 0;
  transform: translateZ(0);
  margin: 0 auto; }
  .particles li {
    max-width: 77px;
    max-height: 77px;
    position: absolute;
    list-style: none;
    display: block;
    background: transparent;
    bottom: -100px;
    animation: bubbles 1s infinite;
    transition-timing-function: linear;
    border: 1px dotted #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center; }
    .particles li img {
      padding: 7px;
      position: relative;
      z-index: -2 !important;
      max-width: 100%;
      transition: 120ms ease-in;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }
      .particles li img:hover {
        transform: scale(1.33); }

.socials-wrapper {
  display: flex;
  flex-direction: row;
  border: 0;
  max-width: 33vw;
  position: relative;
  z-index: 1;
  border: 0; }

.socials-icon {
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
  transition: 88ms linear;
  min-width: 20px;
  min-height: 20px;
  width: 4.66vw;
  height: 4.66vw;
  max-width: 33px;
  max-height: 33px;
  margin: 1% 25px 0 0;
  border: 0;
  border-radius: 100%;
  cursor: pointer; }
  .socials-icon:hover {
    opacity: 0.55; }

.works {
  overflow: auto;
  max-height: none; }

.nav {
  z-index: 2;
  width: 100vw;
  min-height: 59px;
  height: 6vh;
  display: flex;
  flex-direction: column-reverse;
  vertical-align: center;
  align-items: center;
  justify-content: space-around;
  position: fixed; }
  .nav ul {
    filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
    margin: 3% auto;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav ul li {
      margin: 0;
      padding: 0;
      display: inline-block; }
      .nav ul li img {
        max-width: 30px;
        max-height: 30px;
        transition: 100ms linear;
        filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
        .nav ul li img:hover {
          transform: scale(1.08);
          filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }
  .nav-logo img {
    max-width: 100%; }
  .nav-logo-wrapper {
    margin: 0 auto;
    width: 75px;
    text-align: center;
    display: none;
    overflow: hidden; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; }

.intro {
  margin: 0 auto; }

header {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10.75%;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
  align-items: center; }

section {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }
  section[aria-label="content-header"] {
    margin-top: 10.75%;
    display: flex;
    flex-direction: column;
    padding: 22px;
    min-height: 20vh;
    flex-shrink: 0; }
  section[aria-label="content"] {
    overflow-x: hidden;
    flex-basis: 60vh;
    flex: 1; }

.content-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 350%;
  -webkit-text-stroke-width: 1.66px;
  letter-spacing: 1.35px;
  color: transparent; }
  .content-heading--work {
    -webkit-text-stroke-color: rgba(13, 207, 64, 0.66);
    filter: drop-shadow(0.5px 0.5px 100px rgba(13, 207, 64, 0.66)); }
  .content-heading--bio {
    -webkit-text-stroke-color: rgba(240, 177, 9, 0.66);
    filter: drop-shadow(0.5px 0.5px 100px rgba(240, 177, 9, 0.66)); }
  .content-heading--contact {
    -webkit-text-stroke-color: rgba(14, 104, 152, 0.66);
    filter: drop-shadow(0.5px 0.5px 100px rgba(14, 104, 152, 0.66)); }
  .content-heading-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; }
.content-subheading {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  font-weight: 500;
  width: 75%;
  filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
  .content-subheading-wrapper {
    height: auto;
    padding: 1.5vh 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .content-subheading--contact {
    width: 100%;
    text-align: left;
    margin-left: 5%; }

.carousel {
  display: none;
  width: 100%;
  text-align: center; }
  .carousel h3 {
    font-family: "Roboto", sans-serif;
    margin: 1.5% 0;
    font-size: 1.15em;
    font-weight: normal; }

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  cursor: pointer;
  padding: 22px; }
  .slide-bg--color1 {
    background: #3694C7;
    color: #fcfcfc; }
  .slide-bg--color2 {
    background: #32D85E; }
  .slide-bg--color3 {
    background: #FF523B; }
  .slide-bg--color4 {
    background: #FFA53B; }
  .slide:hover {
    opacity: 0.95; }
  .slide .links-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 1%; }
    .slide .links-wrapper .live, .slide .links-wrapper .repo {
      margin: 0 10%;
      color: white;
      font-weight: bolder; }
      .slide .links-wrapper .live:hover, .slide .links-wrapper .repo:hover {
        text-decoration: underline;
        color: white; }

.slide-content-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }
.slide-content-wrapper {
  text-align: left; }
  .slide-content-wrapper .header {
    color: black;
    font-family: "Work Sans", sans-serif;
    width: 80%;
    font-size: 175%;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0; }
  .slide-content-wrapper .caption {
    width: 95%;
    font-size: 80%;
    margin: 5px 0 0 0;
    font-weight: normal; }
  .slide-content-wrapper .details {
    font-style: italic;
    font-size: 80%;
    margin: 25px 0 0 0; }

.slide-img {
  border-radius: 20px;
  text-align: center;
  max-width: 100%;
  filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
  .slide-img-container {
    width: 100%;
    margin: 8.5% 0;
    position: relative; }
  .slide-img-wrapper {
    margin: 0 auto;
    max-width: 80%;
    text-align: center; }

.img-mask {
  min-width: 100%;
  min-height: 100%;
  top: 0;
  position: absolute;
  opacity: 0.9;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.92)); }

.grid {
  padding: 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .grid-wrapper {
    margin: 2% auto 2.5vh auto;
    min-width: 100%; }
  .grid-item {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.92));
    transition: 100ms ease;
    height: 100%;
    min-height: 480px;
    justify-content: center;
    transition: 100ms ease-in-out;
    align-items: center;
    display: flex;
    position: relative;
    min-width: 100%;
    margin: 3.66% auto;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 10px 16px 0px rgba(5, 5, 5, 0.25);
    border: 2px solid #9a9e9b; }
    .grid-item:hover {
      transform: scale(1.03);
      cursor: pointer;
      box-shadow: 3px 15px 24px 0px rgba(5, 5, 5, 0.366); }
    .grid-item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .grid-item .info-wrapper {
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .grid-item .info-wrapper .header-wrapper {
        position: absolute;
        width: 100%;
        top: -5.1rem;
        white-space: nowrap; }
        .grid-item .info-wrapper .header-wrapper h3 {
          margin: 8px auto;
          padding: 0 2%;
          font-size: 175%;
          font-family: "Work Sans", sans-serif;
          color: white;
          font-weight: normal; }
        .grid-item .info-wrapper .header-wrapper .details {
          display: inline-block;
          margin: 0 0 0 2%;
          padding: 2px 2.66px;
          width: auto;
          text-align: left;
          color: #0f0f0f;
          letter-spacing: initial;
          background: rgba(255, 255, 255, 0.67);
          font-family: "Roboto", sans-serif;
          filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
    .grid-item .description-container {
      width: 100%; }
    .grid-item .description-wrapper {
      font-size: 95%;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      height: 100%;
      justify-content: space-between;
      padding: 1% 2% 4% 2%;
      font-weight: 400;
      text-align: center;
      min-width: 100%;
      word-wrap: break-word;
      font-family: "Roboto", sans-serif;
      background: rgba(12, 12, 12, 0.88);
      line-height: 1.66;
      align-items: center;
      justify-content: center; }
      .grid-item .description-wrapper p {
        width: 100%;
        margin: 0 auto;
        color: white;
        margin: 5px auto;
        text-align: left; }
    .grid-item img {
      max-width: 100%;
      min-width: 100%;
      height: 100%;
      max-height: 63vh;
      min-height: 480px;
      object-fit: cover;
      opacity: 1; }

.blank-work {
  display: none; }

.grid-contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .grid-contact p {
    max-width: 66%;
    font-size: 117%;
    font-family: "Source Code Pro", monospace; }

.grid-contact-link {
  text-decoration: none;
  color: inherit; }

.links-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.75%; }
  .links-wrapper a {
    text-decoration: none; }
  .links-wrapper .live, .links-wrapper .repo {
    margin: 0 10%; }
    .links-wrapper .live:hover, .links-wrapper .repo:hover {
      color: white;
      text-decoration: underline; }
  .links-wrapper--grid {
    width: 85%; }
    .links-wrapper--grid .live, .links-wrapper--grid .repo {
      width: 40px;
      font-size: 90%;
      transition: 70ms linear;
      color: lightblue;
      filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25));
      letter-spacing: 1.1px;
      text-transform: uppercase; }
      .links-wrapper--grid .live:hover, .links-wrapper--grid .repo:hover {
        background: rgba(255, 255, 255, 0.92);
        color: black;
        text-decoration: none;
        animation: bgFlicker 888ms linear 1; }
  .links-wrapper--slide {
    width: 100%; }
    .links-wrapper--slide .live, .links-wrapper--slide .repo {
      color: white; }
  .links-wrapper--contact {
    padding: 22px;
    font-size: 88%; }
    .links-wrapper--contact .live, .links-wrapper--contact .repo {
      font-family: "Work Sans", sans-serif;
      font-weight: bold;
      color: black;
      margin: 8% 5%; }
      .links-wrapper--contact .live:hover, .links-wrapper--contact .repo:hover {
        color: #FF523B; }

.intro {
  overflow: hidden;
  height: 100vh; }
  .intro-img-wrapper {
    position: absolute;
    top: -10%;
    width: 100%;
    display: none;
    align-items: center; }
    .intro-img-wrapper img {
      margin: 0 auto;
      height: 133px;
      display: none; }
  .intro-content-wrapper {
    position: absolute;
    z-index: 5;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left; }
  .intro-wrapper {
    display: flex;
    margin: 0 auto;
    width: 91%;
    height: -webkit-fill-available;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0f0f0f; }
    .intro-wrapper div {
      position: relative; }
    .intro-wrapper h1 {
      cursor: default;
      margin-top: 50px;
      font-size: 135%;
      min-width: 100%;
      line-height: 1.26;
      font-weight: normal;
      font-family: "Source Code Pro", monospace; }
    .intro-wrapper .name-span {
      padding: 0 0.3em;
      color: whitesmoke;
      background: #0f0f0f;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }
      .intro-wrapper .name-span:hover {
        cursor: pointer; }
        .intro-wrapper .name-span:hover ~ .intro-img-wrapper {
          display: flex; }

footer {
  display: none;
  min-height: 95px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-shrink: 0; }

.cta-wrapper {
  display: none;
  border-radius: 100%;
  margin: 0;
  padding: 0; }
  .cta-wrapper--fixed {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 1.75vw;
    bottom: 1.25vw;
    z-index: 1; }

.contact-img {
  transition: 100ms ease;
  border-radius: 100%;
  border: 3px solid transparent;
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
  cursor: pointer; }
  .contact-img--wrapper img {
    height: 12vw;
    width: 12vw;
    max-height: 50px;
    max-width: 50px; }
  .contact-img:hover {
    transform: scale(1.066); }

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 22px; }
  .bio-container--image {
    min-width: 150px;
    width: 53%;
    max-width: 190px;
    margin: 0 auto; }
    .bio-container--image img {
      max-width: 100%;
      -webkit-filter: drop-shadow(5px 5px 5px #e6e6e6); }
.bio-wrapper {
  margin: 0.75% auto; }
  .bio-wrapper p {
    color: #2b2b2b;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.025em;
    width: 88%;
    max-width: 1650px;
    font-size: 120%; }

.interests ul {
  line-height: 1.5em; }

.contact-img-wrapper {
  width: 44px; }
  .contact-img-wrapper img {
    max-width: 100%; }
.contact-wrapper {
  z-index: 2;
  width: 100%; }
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 22px; }
  .contact-form ::placeholder {
    color: #9b9b9b; }
  .contact-form label {
    display: none; }
  .contact-form input {
    padding: 15px;
    border: 0;
    background: #e6e6e6;
    min-width: 70px;
    font-size: 100%;
    height: 40px;
    margin-bottom: 22px; }
    .contact-form input[name="name"] {
      flex-basis: 20.66%;
      flex-grow: 2;
      margin-right: 5px; }
    .contact-form input[name="email"] {
      flex-basis: 60%; }
    .contact-form input[name="topic"] {
      width: 100%; }
    .contact-form input[type="submit"] {
      -webkit-appearance: none;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
      font-family: "Source Code Pro", monospace;
      transition: 100ms linear;
      color: white;
      box-shadow: none;
      border: 0;
      padding: 0;
      background: #0f0f0f;
      margin: 5% auto 0;
      width: 150px;
      border-radius: 120px;
      cursor: pointer; }
      .contact-form input[type="submit"]:hover {
        background: #32D85E; }
  .contact-form textarea {
    border: 0;
    background: #e6e6e6;
    text-align: left;
    padding: 3%;
    width: 100%;
    height: 17vh;
    max-height: 400px;
    font-size: 100%;
    font-family: "Roboto", sans-serif; }

.globe {
  display: none;
  padding: 7%;
  margin-left: -8vw; }
  .globe-wrapper {
    min-width: 60%;
    max-width: 60%;
    position: fixed;
    min-height: 100vh;
    max-height: 100vh;
    opacity: 0.66;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
    .globe-wrapper img {
      object-fit: cover;
      border-radius: 100%;
      position: absolute;
      width: 62vw;
      max-width: 888px;
      min-width: 420px;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }

.spin-right {
  animation: spin 6666ms linear infinite; }

.rotate-z {
  animation: rotateZ 10000ms linear infinite; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1; }
  90% {
    transform: translateX(-105%);
    opacity: 1; }
  100% {
    transform: translateX(-130%);
    opacity: 0; } }
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1); }
  22% {
    background: rgba(0, 0, 255, 0.01); }
  100% {
    background: lime;
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95; } }
@keyframes bgFlicker {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg); }
  to {
    -ms-transform: rotateZ(360deg); } }
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg); }
  to {
    -moz-transform: rotateZ(360deg); } }
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(360deg); } }
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
@media (min-width: 1024px) {
  .spotify-now-playing-widget .badge {
    max-width: none;
    width: 100%;
    color: black; }
  .spotify-now-playing-widget #now-playing {
    color: white; }

  .blur-bg {
    display: none; }

  nav {
    background: #FFFCF9; }

  main {
    flex-direction: row;
    flex-wrap: wrap; }

  body {
    flex-direction: row; }

  .nav-wrapper {
    height: 100%;
    width: 120px; }

  header {
    cursor: default;
    margin: 0 5%;
    flex-direction: row;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%; }

  section {
    margin: 0 5%;
    flex-direction: row; }
    section[aria-label="content-header"] {
      margin-top: 0;
      padding-top: 75px;
      align-items: left;
      height: 95px;
      max-width: 580px;
      min-width: 480px;
      width: 60%; }
    section[aria-label="content"] {
      flex-wrap: wrap;
      width: 100%;
      display: block;
      overflow: visible; }

  .intro-img-wrapper {
    top: -50%; }
    .intro-img-wrapper img {
      display: block; }

  .bio > div, .contact > div {
    margin-top: 7vh;
    position: absolute; }

  .contact {
    position: absolute;
    top: 25%; }

  .content-heading {
    margin: 0;
    padding: 0 auto; }
    .content-heading-wrapper {
      flex-direction: row;
      align-items: left; }
      .content-heading-wrapper--contact {
        flex-direction: column; }
  .content-subheading {
    margin: 0 0 0 5%;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    text-align: left; }
    .content-subheading--contact {
      width: 90%;
      margin-left: 8%; }
    .content-subheading-wrapper {
      margin-left: 9%;
      text-align: left; }
      .content-subheading-wrapper--contact {
        width: 100%;
        margin-left: 0; }

  .carousel {
    padding: 22px;
    width: 100%; }

  .slide {
    border-radius: 20px;
    filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }

  .blank-work {
    border: 2px dashed grey;
    background: transparent;
    display: block;
    border-radius: 2px;
    color: #2b2b2b;
    box-shadow: none; }

  .blank-work:hover {
    border: none;
    background: #32D85E;
    color: #32D85E; }
    .blank-work:hover p {
      background: black; }
    .blank-work:hover [class|="confetti"] {
      display: block; }

  [class|="confetti"] {
    position: absolute;
    display: none; }

  .label-tech {
    font-size: 12px; }

  .confetti-0 {
    width: 7px;
    height: 9.31px;
    background-color: #3694C7;
    top: -10%;
    left: 73%;
    opacity: 0.8482737738;
    transform: rotate(143.5281180191deg);
    animation: drop-0 4.3126668374s 0.4031157418s infinite; }

  @keyframes drop-0 {
    100% {
      top: 110%;
      left: 74%; } }
  .confetti-1 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 30%;
    opacity: 1.0208699421;
    transform: rotate(10.2683370236deg);
    animation: drop-1 4.0607194702s 0.7228993198s infinite; }

  @keyframes drop-1 {
    100% {
      top: 110%;
      left: 31%; } }
  .confetti-2 {
    width: 6px;
    height: 7.98px;
    background-color: white;
    top: -10%;
    left: 76%;
    opacity: 0.6656082667;
    transform: rotate(47.6185352977deg);
    animation: drop-2 4.8056382554s 0.1024090471s infinite; }

  @keyframes drop-2 {
    100% {
      top: 110%;
      left: 83%; } }
  .confetti-3 {
    width: 5px;
    height: 6.65px;
    background-color: white;
    top: -10%;
    left: 82%;
    opacity: 1.0321129868;
    transform: rotate(39.5629900859deg);
    animation: drop-3 4.9895095457s 0.9315434145s infinite; }

  @keyframes drop-3 {
    100% {
      top: 110%;
      left: 94%; } }
  .confetti-4 {
    width: 7px;
    height: 9.31px;
    background-color: #FFA53B;
    top: -10%;
    left: 1%;
    opacity: 1.4637990978;
    transform: rotate(279.2329854374deg);
    animation: drop-4 4.6459839232s 0.7282209123s infinite; }

  @keyframes drop-4 {
    100% {
      top: 110%;
      left: 4%; } }
  .confetti-5 {
    width: 8px;
    height: 10.64px;
    background-color: #FFA53B;
    top: -10%;
    left: 52%;
    opacity: 1.2683540507;
    transform: rotate(315.4413697759deg);
    animation: drop-5 4.4495229131s 0.8018584665s infinite; }

  @keyframes drop-5 {
    100% {
      top: 110%;
      left: 63%; } }
  .confetti-6 {
    width: 6px;
    height: 7.98px;
    background-color: #FF523B;
    top: -10%;
    left: 89%;
    opacity: 0.592323273;
    transform: rotate(337.925237428deg);
    animation: drop-6 4.5103232345s 0.2977997729s infinite; }

  @keyframes drop-6 {
    100% {
      top: 110%;
      left: 92%; } }
  .confetti-7 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 90%;
    opacity: 0.8582410285;
    transform: rotate(334.3132950764deg);
    animation: drop-7 4.7233511959s 0.5861834058s infinite; }

  @keyframes drop-7 {
    100% {
      top: 110%;
      left: 100%; } }
  .confetti-8 {
    width: 3px;
    height: 3.99px;
    background-color: #FFA53B;
    top: -10%;
    left: 71%;
    opacity: 1.4168027005;
    transform: rotate(132.4693436293deg);
    animation: drop-8 4.1165994955s 0.0418191118s infinite; }

  @keyframes drop-8 {
    100% {
      top: 110%;
      left: 85%; } }
  .confetti-9 {
    width: 1px;
    height: 1.33px;
    background-color: #FFA53B;
    top: -10%;
    left: 98%;
    opacity: 0.9440200934;
    transform: rotate(9.4099510557deg);
    animation: drop-9 4.0617688898s 0.8590278507s infinite; }

  @keyframes drop-9 {
    100% {
      top: 110%;
      left: 102%; } }
  .confetti-10 {
    width: 5px;
    height: 6.65px;
    background-color: #3694C7;
    top: -10%;
    left: 56%;
    opacity: 0.5494844135;
    transform: rotate(10.444916315deg);
    animation: drop-10 4.8861273003s 0.2927162981s infinite; }

  @keyframes drop-10 {
    100% {
      top: 110%;
      left: 61%; } }
  .confetti-11 {
    width: 8px;
    height: 10.64px;
    background-color: #3694C7;
    top: -10%;
    left: 28%;
    opacity: 0.5179634001;
    transform: rotate(57.2423985424deg);
    animation: drop-11 4.634022969s 0.1144864117s infinite; }

  @keyframes drop-11 {
    100% {
      top: 110%;
      left: 39%; } }
  .confetti-12 {
    width: 7px;
    height: 9.31px;
    background-color: white;
    top: -10%;
    left: 6%;
    opacity: 0.6426056462;
    transform: rotate(179.0172224563deg);
    animation: drop-12 4.1434787772s 0.3706938119s infinite; }

  @keyframes drop-12 {
    100% {
      top: 110%;
      left: 9%; } }
  .confetti-13 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 85%;
    opacity: 0.5943726103;
    transform: rotate(214.7954712258deg);
    animation: drop-13 4.6065028126s 0.3907597303s infinite; }

  @keyframes drop-13 {
    100% {
      top: 110%;
      left: 92%; } }
  .confetti-14 {
    width: 2px;
    height: 2.66px;
    background-color: #FFA53B;
    top: -10%;
    left: 16%;
    opacity: 1.2011044064;
    transform: rotate(339.2493607309deg);
    animation: drop-14 4.7967974761s 0.3319390903s infinite; }

  @keyframes drop-14 {
    100% {
      top: 110%;
      left: 19%; } }
  .confetti-15 {
    width: 7px;
    height: 9.31px;
    background-color: #FFA53B;
    top: -10%;
    left: 5%;
    opacity: 1.2236220059;
    transform: rotate(286.2906331324deg);
    animation: drop-15 4.1696864766s 0.435922027s infinite; }

  @keyframes drop-15 {
    100% {
      top: 110%;
      left: 20%; } }
  .confetti-16 {
    width: 7px;
    height: 9.31px;
    background-color: #FFA53B;
    top: -10%;
    left: 49%;
    opacity: 0.6807343581;
    transform: rotate(217.3996456651deg);
    animation: drop-16 4.1201298317s 0.7271944253s infinite; }

  @keyframes drop-16 {
    100% {
      top: 110%;
      left: 60%; } }
  .confetti-17 {
    width: 8px;
    height: 10.64px;
    background-color: #3694C7;
    top: -10%;
    left: 23%;
    opacity: 1.3047256179;
    transform: rotate(236.9477100997deg);
    animation: drop-17 4.7276899463s 0.4567808695s infinite; }

  @keyframes drop-17 {
    100% {
      top: 110%;
      left: 29%; } }
  .confetti-18 {
    width: 2px;
    height: 2.66px;
    background-color: #FF523B;
    top: -10%;
    left: 3%;
    opacity: 0.8254088029;
    transform: rotate(340.2195736482deg);
    animation: drop-18 4.5900984993s 0.8517365313s infinite; }

  @keyframes drop-18 {
    100% {
      top: 110%;
      left: 4%; } }
  .confetti-19 {
    width: 7px;
    height: 9.31px;
    background-color: #3694C7;
    top: -10%;
    left: 9%;
    opacity: 0.5843071611;
    transform: rotate(228.9374154257deg);
    animation: drop-19 4.1842229675s 0.4507634225s infinite; }

  @keyframes drop-19 {
    100% {
      top: 110%;
      left: 23%; } }
  .confetti-20 {
    width: 5px;
    height: 6.65px;
    background-color: #FF523B;
    top: -10%;
    left: 87%;
    opacity: 1.0469482206;
    transform: rotate(88.5840041819deg);
    animation: drop-20 4.3135691579s 0.8950331664s infinite; }

  @keyframes drop-20 {
    100% {
      top: 110%;
      left: 93%; } }
  .confetti-21 {
    width: 7px;
    height: 9.31px;
    background-color: #FF523B;
    top: -10%;
    left: 54%;
    opacity: 1.3194540079;
    transform: rotate(349.1780799495deg);
    animation: drop-21 4.9557600473s 0.8594977821s infinite; }

  @keyframes drop-21 {
    100% {
      top: 110%;
      left: 55%; } }
  .confetti-22 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 84%;
    opacity: 0.7258695009;
    transform: rotate(359.2543956675deg);
    animation: drop-22 4.5602590182s 0.3008501924s infinite; }

  @keyframes drop-22 {
    100% {
      top: 110%;
      left: 98%; } }
  .confetti-23 {
    width: 1px;
    height: 1.33px;
    background-color: #FFA53B;
    top: -10%;
    left: 25%;
    opacity: 0.8863328634;
    transform: rotate(58.1854598788deg);
    animation: drop-23 4.2110392733s 0.0303606127s infinite; }

  @keyframes drop-23 {
    100% {
      top: 110%;
      left: 38%; } }
  .confetti-24 {
    width: 3px;
    height: 3.99px;
    background-color: #FFA53B;
    top: -10%;
    left: 58%;
    opacity: 0.7606679203;
    transform: rotate(43.4692717431deg);
    animation: drop-24 4.0833702792s 0.5912600525s infinite; }

  @keyframes drop-24 {
    100% {
      top: 110%;
      left: 60%; } }
  .confetti-25 {
    width: 6px;
    height: 7.98px;
    background-color: white;
    top: -10%;
    left: 61%;
    opacity: 1.3748528637;
    transform: rotate(164.5523197537deg);
    animation: drop-25 4.4474828274s 0.3055456857s infinite; }

  @keyframes drop-25 {
    100% {
      top: 110%;
      left: 76%; } }
  .confetti-26 {
    width: 4px;
    height: 5.32px;
    background-color: #FF523B;
    top: -10%;
    left: 78%;
    opacity: 1.2430209051;
    transform: rotate(355.1195166202deg);
    animation: drop-26 4.0343679022s 0.7816097119s infinite; }

  @keyframes drop-26 {
    100% {
      top: 110%;
      left: 85%; } }
  .confetti-27 {
    width: 4px;
    height: 5.32px;
    background-color: #3694C7;
    top: -10%;
    left: 89%;
    opacity: 1.1476038384;
    transform: rotate(240.0376718613deg);
    animation: drop-27 4.7733166345s 0.3618969491s infinite; }

  @keyframes drop-27 {
    100% {
      top: 110%;
      left: 99%; } }
  .confetti-28 {
    width: 3px;
    height: 3.99px;
    background-color: #FF523B;
    top: -10%;
    left: 23%;
    opacity: 1.4743376333;
    transform: rotate(180.5964198654deg);
    animation: drop-28 4.9573127306s 0.0034402627s infinite; }

  @keyframes drop-28 {
    100% {
      top: 110%;
      left: 24%; } }
  .confetti-29 {
    width: 8px;
    height: 10.64px;
    background-color: #FF523B;
    top: -10%;
    left: 1%;
    opacity: 1.4648526738;
    transform: rotate(205.9331271842deg);
    animation: drop-29 4.208366318s 0.0165467243s infinite; }

  @keyframes drop-29 {
    100% {
      top: 110%;
      left: 8%; } }
  .confetti-30 {
    width: 6px;
    height: 7.98px;
    background-color: white;
    top: -10%;
    left: 66%;
    opacity: 0.8340706964;
    transform: rotate(341.5647552592deg);
    animation: drop-30 4.6958924118s 0.5984774774s infinite; }

  @keyframes drop-30 {
    100% {
      top: 110%;
      left: 73%; } }
  .confetti-31 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 80%;
    opacity: 0.5362280801;
    transform: rotate(353.2402437442deg);
    animation: drop-31 4.6413220093s 0.760170522s infinite; }

  @keyframes drop-31 {
    100% {
      top: 110%;
      left: 85%; } }
  .confetti-32 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 34%;
    opacity: 0.5358849516;
    transform: rotate(34.1311006902deg);
    animation: drop-32 4.3516908206s 0.3469141815s infinite; }

  @keyframes drop-32 {
    100% {
      top: 110%;
      left: 37%; } }
  .confetti-33 {
    width: 5px;
    height: 6.65px;
    background-color: #FF523B;
    top: -10%;
    left: 84%;
    opacity: 0.5029990785;
    transform: rotate(18.2553712084deg);
    animation: drop-33 4.2240962675s 0.6559114675s infinite; }

  @keyframes drop-33 {
    100% {
      top: 110%;
      left: 91%; } }
  .confetti-34 {
    width: 1px;
    height: 1.33px;
    background-color: #FF523B;
    top: -10%;
    left: 100%;
    opacity: 1.3694551011;
    transform: rotate(150.2508827516deg);
    animation: drop-34 4.2802783119s 0.1651073427s infinite; }

  @keyframes drop-34 {
    100% {
      top: 110%;
      left: 111%; } }
  .confetti-35 {
    width: 2px;
    height: 2.66px;
    background-color: #FF523B;
    top: -10%;
    left: 33%;
    opacity: 1.1632077813;
    transform: rotate(111.6454345522deg);
    animation: drop-35 4.5704872043s 0.8698190101s infinite; }

  @keyframes drop-35 {
    100% {
      top: 110%;
      left: 38%; } }
  .confetti-36 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 34%;
    opacity: 1.107346145;
    transform: rotate(343.8805908026deg);
    animation: drop-36 4.671315874s 0.9386179007s infinite; }

  @keyframes drop-36 {
    100% {
      top: 110%;
      left: 44%; } }
  .confetti-37 {
    width: 4px;
    height: 5.32px;
    background-color: #FFA53B;
    top: -10%;
    left: 64%;
    opacity: 0.7119243964;
    transform: rotate(263.8041770108deg);
    animation: drop-37 4.4222670636s 0.4734039469s infinite; }

  @keyframes drop-37 {
    100% {
      top: 110%;
      left: 76%; } }
  .confetti-38 {
    width: 8px;
    height: 10.64px;
    background-color: #FF523B;
    top: -10%;
    left: 90%;
    opacity: 1.3891129242;
    transform: rotate(183.7069197576deg);
    animation: drop-38 4.2514000305s 0.3348952471s infinite; }

  @keyframes drop-38 {
    100% {
      top: 110%;
      left: 91%; } }
  .confetti-39 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 74%;
    opacity: 0.8667644836;
    transform: rotate(130.9381991217deg);
    animation: drop-39 4.2563207467s 0.4937633359s infinite; }

  @keyframes drop-39 {
    100% {
      top: 110%;
      left: 76%; } }
  .confetti-40 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 95%;
    opacity: 1.271070536;
    transform: rotate(23.9516408159deg);
    animation: drop-40 4.0425120249s 0.5315825128s infinite; }

  @keyframes drop-40 {
    100% {
      top: 110%;
      left: 101%; } }
  .confetti-41 {
    width: 6px;
    height: 7.98px;
    background-color: #FF523B;
    top: -10%;
    left: 42%;
    opacity: 0.9809535705;
    transform: rotate(338.9100088756deg);
    animation: drop-41 4.2757079789s 0.0895415528s infinite; }

  @keyframes drop-41 {
    100% {
      top: 110%;
      left: 51%; } }
  .confetti-42 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 47%;
    opacity: 1.1435479758;
    transform: rotate(30.2342200947deg);
    animation: drop-42 4.3397087456s 0.7239466065s infinite; }

  @keyframes drop-42 {
    100% {
      top: 110%;
      left: 51%; } }
  .confetti-43 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 31%;
    opacity: 1.3154474891;
    transform: rotate(208.1809438019deg);
    animation: drop-43 4.731551957s 0.023806413s infinite; }

  @keyframes drop-43 {
    100% {
      top: 110%;
      left: 33%; } }
  .confetti-44 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 24%;
    opacity: 1.2906970383;
    transform: rotate(94.1306736457deg);
    animation: drop-44 4.2415374246s 0.3278479075s infinite; }

  @keyframes drop-44 {
    100% {
      top: 110%;
      left: 27%; } }
  .confetti-45 {
    width: 8px;
    height: 10.64px;
    background-color: white;
    top: -10%;
    left: 61%;
    opacity: 0.5803235022;
    transform: rotate(249.8989799169deg);
    animation: drop-45 4.6316952193s 0.8571964959s infinite; }

  @keyframes drop-45 {
    100% {
      top: 110%;
      left: 70%; } }
  .confetti-46 {
    width: 4px;
    height: 5.32px;
    background-color: #FFA53B;
    top: -10%;
    left: 90%;
    opacity: 0.839506376;
    transform: rotate(185.1162477323deg);
    animation: drop-46 4.5239854457s 0.0812087341s infinite; }

  @keyframes drop-46 {
    100% {
      top: 110%;
      left: 95%; } }
  .confetti-47 {
    width: 7px;
    height: 9.31px;
    background-color: white;
    top: -10%;
    left: 74%;
    opacity: 0.6964716466;
    transform: rotate(162.7581014649deg);
    animation: drop-47 4.1780426481s 0.8105686672s infinite; }

  @keyframes drop-47 {
    100% {
      top: 110%;
      left: 84%; } }
  .confetti-48 {
    width: 3px;
    height: 3.99px;
    background-color: #FF523B;
    top: -10%;
    left: 91%;
    opacity: 1.1806183182;
    transform: rotate(289.5532338276deg);
    animation: drop-48 4.8327183942s 0.1554280629s infinite; }

  @keyframes drop-48 {
    100% {
      top: 110%;
      left: 97%; } }
  .confetti-49 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 61%;
    opacity: 0.8163701015;
    transform: rotate(53.1649350154deg);
    animation: drop-49 4.3959565896s 0.4401439416s infinite; }

  @keyframes drop-49 {
    100% {
      top: 110%;
      left: 69%; } }
  .confetti-50 {
    width: 5px;
    height: 6.65px;
    background-color: #3694C7;
    top: -10%;
    left: 45%;
    opacity: 0.6995126103;
    transform: rotate(245.6843079787deg);
    animation: drop-50 4.5238369243s 0.544821423s infinite; }

  @keyframes drop-50 {
    100% {
      top: 110%;
      left: 53%; } }
  .grid {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    grid-gap: 2.5%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(5, minmax(200px, auto)); }
    .grid .description-wrapper {
      min-width: 100%;
      font-size: 80%; }
      .grid .description-wrapper h3 {
        font-size: 20px; }
    .grid-wrapper {
      height: auto;
      margin: 2% auto;
      padding: 22px; }
    .grid-item {
      min-width: 100%;
      margin: 0 auto; }
      .grid-item--10 {
        grid-area: 1 / 3 / 3 / 4; }
      .grid-item--9 {
        grid-area: 1 / 1 / 3 / 3; }
      .grid-item--8 {
        grid-area: 3 / 1 / 5 / 2; }
      .grid-item--7 {
        grid-area: 3 / 2 / 5 / 4; }
      .grid-item--6 {
        grid-area: 5 / 3 / 7 / 4; }
      .grid-item--5 {
        grid-area: 5 / 1 / 7 / 3; }
      .grid-item--4 {
        grid-area: 7 / 1 / 9 / 2; }
      .grid-item--3 {
        grid-area: 7 / 2 / 9 / 4; }
      .grid-item--2 {
        grid-area: 9 / 3 / 11 / 4; }
      .grid-item--1 {
        grid-area: 9 / 1 / 11 / 3; }
    .grid img {
      max-height: 46.66vh; }
    .grid .details {
      padding: 2px 8px !important;
      letter-spacing: 1px; }

  .globe {
    display: block;
    opacity: 0.88; }

  .nav {
    border-right: 1px dotted #d6d6d6;
    min-height: 100%;
    width: 120px;
    position: fixed; }
    .nav-wrapper {
      position: relative; }
    .nav ul {
      height: 85%;
      width: 100%;
      flex-direction: column; }
      .nav ul li {
        display: inline-block; }

  .bio {
    height: 100%; }
    .bio-container--image {
      margin: 0;
      border: 0;
      padding: 0;
      border: 0; }
      .bio-container--image img {
        max-width: 100%; }
    .bio-wrapper p {
      font-size: 130%;
      line-height: 1.3;
      width: 33%; }

  .socials-wrapper img {
    margin: 1% 50px 0 0; }

  .contact {
    width: 40%; }
    .contact-wrapper {
      height: 100%;
      width: 100%; }
    .contact-form {
      padding: 0;
      margin: 0 0 0 5%; }

  .intro {
    overflow: hidden; }
    .intro-wrapper {
      width: 76%;
      max-width: 1650px; }
      .intro-wrapper h1 {
        font-size: 180%;
        width: 49%; } }
@media (min-width: 2300px) {
  .grid {
    grid-auto-rows: minmax(230px, auto);
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-template-rows: repeat(5, minmax(230px, auto)); }
    .grid .description-wrapper {
      min-width: 100%;
      font-size: 92%; }
      .grid .description-wrapper h3 {
        font-size: 27.5px; }
    .grid .header-wrapper .details {
      font-size: 12.33px !important; }
    .grid-wrapper {
      margin: 2% auto; }
    .grid-item {
      min-height: 550px;
      max-height: 550px;
      min-width: 100%;
      margin: 0 auto; }
      .grid-item--10 {
        grid-area: 1 / 3 / 3 / 4; }
      .grid-item--9 {
        grid-area: 1 / 1 / 3 / 3; }
      .grid-item--8 {
        grid-area: 3 / 1 / 5 / 2; }
      .grid-item--7 {
        grid-area: 3 / 2 / 5 / 4; }
      .grid-item--6 {
        grid-area: 5 / 3 / 7 / 4; }
      .grid-item--5 {
        grid-area: 5 / 1 / 7 / 3; }
      .grid-item--4 {
        grid-area: 7 / 1 / 9 / 2; }
      .grid-item--3 {
        grid-area: 7 / 2 / 9 / 4; }
      .grid-item--2 {
        grid-area: 9 / 3 / 11 / 4; }
      .grid-item--1 {
        grid-area: 9 / 1 / 11 / 3; }
    .grid img {
      max-height: none; } }
@media (max-height: 600px) {
  .intro-content-2 {
    display: none; } }

/*# sourceMappingURL=main.css.map */
