@charset "UTF-8";
/* Look into webkit overflow scrolling */
* {
  box-sizing: border-box; }

.spotify-now-playing-widget {
  border-radius: 20px;
  transform: translateZ(0);
  height: 4.66vw;
  max-height: 33px;
  min-height: 20px;
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex; }
  .spotify-now-playing-widget a {
    color: inherit;
    text-decoration: none; }
  .spotify-now-playing-widget .badge {
    padding: 0;
    margin: 0;
    width: 100%;
    transform: translateZ(0);
    max-width: none;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Source Code Pro", monospace; }
  .spotify-now-playing-widget .badge-details {
    background: #32D85E;
    transform: translateZ(0);
    padding: 0;
    margin: 0;
    border-radius: 20px;
    animation-name: scroll;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transform-origin: right;
    animation-timing-function: linear; }
  .spotify-now-playing-widget #track-info {
    width: auto;
    padding-right: 0.3em;
    margin-right: 0.3em; }
  .spotify-now-playing-widget #now-playing {
    color: white;
    padding-left: 0.75em; }
    .spotify-now-playing-widget #now-playing:span {
      margin-left: 0.5em; }

.live > img {
  max-height: 25px;
  max-width: 25px; }

#contact-links {
  width: 100%;
  animation: fadeInLeft 1.75s;
  animation-iteration-count: 1;
  height: 125px;
  padding-top: 22px; }

body {
  font-family: sans-serif;
  margin: 0;
  background: #FFFCF9;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

html {
  height: -webkit-fill-available; }

.blur-bg {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  margin-bottom: 20px;
  background: rgba(255, 252, 249, 0.8);
  z-index: -1;
  backdrop-filter: blur(20px); }

.contact-body, .intro-body {
  max-height: 100vh !important;
  min-height: -webkit-fill-available; }

.label {
  margin: 0 0.4em;
  padding: 0.2em 0.4em;
  border-radius: 20px;
  white-space: nowrap; }
  .label-progress {
    font-size: 13px;
    background: #C2E0C6; }
    .label-progress::after {
      content: " ♨️"; }
  .label-tech {
    font-size: calc(8.75px + 6 * ((100vw - 320px) / 680));
    white-space: initial;
    margin: 0;
    color: black;
    background: #FFFCF9; }

.particles {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.93;
  max-height: 100%;
  z-index: 0;
  transform: translateZ(0);
  margin: 0 auto; }
  .particles li {
    max-width: 77px;
    max-height: 77px;
    position: absolute;
    list-style: none;
    display: block;
    background: transparent;
    bottom: -100px;
    animation: bubbles 1s infinite;
    transition-timing-function: linear;
    border: 1px dotted #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center; }
    .particles li img {
      padding: 7px;
      position: relative;
      z-index: -2 !important;
      max-width: 100%;
      transition: 120ms ease-in;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }
      .particles li img:hover {
        transform: scale(1.33); }

.socials-wrapper {
  animation: fadeInLeft 1.7s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: row;
  border: 0;
  max-width: 33vw;
  position: relative;
  z-index: 1;
  border: 0; }

.socials-icon {
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
  transition: 88ms linear;
  min-width: 20px;
  min-height: 20px;
  width: 4.66vw;
  height: 4.66vw;
  max-width: 33px;
  max-height: 33px;
  margin: 1% 25px 0 0;
  border: 0;
  border-radius: 100%;
  cursor: pointer; }
  .socials-icon:hover {
    opacity: 0.55; }

.works {
  overflow: auto;
  max-height: none; }

.nav {
  z-index: 2;
  width: 100vw;
  min-height: 59px;
  height: 6vh;
  display: flex;
  flex-direction: column-reverse;
  vertical-align: center;
  align-items: center;
  justify-content: space-around;
  position: fixed; }
  .nav ul {
    filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
    margin: 3% auto;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav ul li {
      margin: 0;
      padding: 0;
      display: inline-block; }
      .nav ul li img {
        max-width: 30px;
        max-height: 30px;
        transition: 100ms linear;
        filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
        .nav ul li img:hover {
          transform: scale(1.08);
          filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }
  .nav-logo img {
    max-width: 100%; }
  .nav-logo-wrapper {
    margin: 0 auto;
    width: 75px;
    text-align: center;
    display: none;
    overflow: hidden; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; }

.intro {
  position: fixed;
  margin: 0 auto; }

.title-bar {
  font-size: 42px;
  font-weight: 800;
  font-family: "Work Sans", sans-serif;
  padding: 0.17em 0 0.55em 0; }

header {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10.75%;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
  align-items: center; }

section {
  animation: fadeIn 0.66s;
  animation-iteration-count: 1;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }
  section[aria-label="content-header"] {
    margin-top: 10.75%;
    display: flex;
    flex-direction: column;
    padding: 22px;
    min-height: 20vh;
    flex-shrink: 0; }
  section[aria-label="content"] {
    overflow-x: hidden;
    flex-basis: 60vh;
    flex: 1; }

.content-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 350%;
  -webkit-text-stroke-width: 1.66px;
  letter-spacing: 1.35px;
  color: transparent; }
  .content-heading--work {
    -webkit-text-stroke-color: rgba(13, 207, 64, 0.66);
    filter: drop-shadow(0.5px 0.5px 100px rgba(13, 207, 64, 0.66)); }
  .content-heading--bio {
    -webkit-text-stroke-color: rgba(240, 177, 9, 0.66);
    filter: drop-shadow(0.5px 0.5px 100px rgba(240, 177, 9, 0.66)); }
  .content-heading--contact {
    -webkit-text-stroke-color: rgba(14, 104, 152, 0.66);
    filter: drop-shadow(0.5px 0.5px 100px rgba(14, 104, 152, 0.66)); }
  .content-heading-wrapper {
    animation: fadeInLeft 0.88s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    width: 100%; }
.content-subheading {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  font-weight: 500;
  width: 75%;
  filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
  .content-subheading-wrapper {
    height: auto;
    padding: 1.5vh 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .content-subheading--contact {
    width: 100%;
    text-align: left;
    margin-left: 5%; }

.carousel {
  display: none;
  width: 100%;
  text-align: center; }
  .carousel h3 {
    font-family: "Roboto", sans-serif;
    margin: 1.5% 0;
    font-size: 1.15em;
    font-weight: normal; }

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  cursor: pointer;
  padding: 22px; }
  .slide-bg--color1 {
    background: #3694C7;
    color: #fcfcfc; }
  .slide-bg--color2 {
    background: #32D85E; }
  .slide-bg--color3 {
    background: #FF523B; }
  .slide-bg--color4 {
    background: #FFA53B; }
  .slide:hover {
    opacity: 0.95; }
  .slide .links-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 1%; }
    .slide .links-wrapper .live, .slide .links-wrapper .repo {
      margin: 0 10%;
      color: white;
      font-weight: bolder; }
      .slide .links-wrapper .live:hover, .slide .links-wrapper .repo:hover {
        text-decoration: underline;
        color: white; }

.slide-content-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }
.slide-content-wrapper {
  text-align: left; }
  .slide-content-wrapper .header {
    color: black;
    font-family: "Work Sans", sans-serif;
    width: 80%;
    font-size: 175%;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0; }
  .slide-content-wrapper .caption {
    width: 95%;
    font-size: 80%;
    margin: 5px 0 0 0;
    font-weight: normal; }
  .slide-content-wrapper .details {
    font-style: italic;
    font-size: 80%;
    margin: 25px 0 0 0; }

.slide-img {
  border-radius: 20px;
  text-align: center;
  max-width: 100%;
  filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
  .slide-img-container {
    width: 100%;
    margin: 8.5% 0;
    position: relative; }
  .slide-img-wrapper {
    margin: 0 auto;
    max-width: 80%;
    text-align: center; }

.img-mask {
  min-width: 100%;
  min-height: 100%;
  top: 0;
  position: absolute;
  opacity: 0.9;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.92)); }

.grid {
  padding: 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .grid-wrapper {
    margin: 2% auto 2.5vh auto;
    min-width: 100%; }
  .grid-item {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.92));
    transition: 100ms ease;
    height: 100%;
    min-height: 480px;
    justify-content: center;
    transition: 100ms ease-in-out;
    align-items: center;
    display: flex;
    position: relative;
    min-width: 100%;
    margin: 3.66% auto;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 10px 16px 0px rgba(5, 5, 5, 0.25);
    border: 2px solid #9a9e9b; }
    .grid-item:hover {
      transform: scale(1.03);
      cursor: pointer;
      box-shadow: 3px 15px 24px 0px rgba(5, 5, 5, 0.366); }
    .grid-item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .grid-item .info-wrapper {
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .grid-item .info-wrapper .header-wrapper {
        position: absolute;
        width: 100%;
        top: -5.1rem;
        white-space: nowrap; }
        .grid-item .info-wrapper .header-wrapper h3 {
          margin: 8px auto;
          padding: 0 2%;
          font-size: 175%;
          font-family: "Work Sans", sans-serif;
          color: white;
          font-weight: normal; }
        .grid-item .info-wrapper .header-wrapper .details {
          display: inline-block;
          margin: 0 0 0 2%;
          padding: 2px 2.66px;
          width: auto;
          text-align: left;
          color: #0f0f0f;
          letter-spacing: initial;
          background: rgba(255, 255, 255, 0.67);
          font-family: "Roboto", sans-serif;
          filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25)); }
    .grid-item .description-container {
      width: 100%; }
    .grid-item .description-wrapper {
      font-size: 95%;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      height: 100%;
      justify-content: space-between;
      padding: 1% 2% 4% 2%;
      font-weight: 400;
      text-align: center;
      min-width: 100%;
      word-wrap: break-word;
      font-family: "Roboto", sans-serif;
      background: rgba(12, 12, 12, 0.88);
      line-height: 1.66;
      align-items: center;
      justify-content: center; }
      .grid-item .description-wrapper p {
        width: 100%;
        margin: 0 auto;
        color: white;
        margin: 5px auto;
        text-align: left; }
    .grid-item img {
      max-width: 100%;
      min-width: 100%;
      height: 100%;
      max-height: 63vh;
      min-height: 480px;
      object-fit: cover;
      opacity: 1; }

.blank-work {
  display: none; }

.grid-contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .grid-contact p {
    max-width: 66%;
    font-size: 117%;
    font-family: "Source Code Pro", monospace; }

.grid-contact-link {
  text-decoration: none;
  color: inherit; }

.links-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.75%; }
  .links-wrapper a {
    text-decoration: none; }
  .links-wrapper .live, .links-wrapper .repo {
    margin: 0 10%; }
    .links-wrapper .live:hover, .links-wrapper .repo:hover {
      color: white;
      text-decoration: underline; }
  .links-wrapper--grid {
    width: 85%; }
    .links-wrapper--grid .live, .links-wrapper--grid .repo {
      width: 40px;
      font-size: 90%;
      transition: 70ms linear;
      color: lightblue;
      filter: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25));
      letter-spacing: 1.1px;
      text-transform: uppercase; }
      .links-wrapper--grid .live:hover, .links-wrapper--grid .repo:hover {
        background: rgba(255, 255, 255, 0.92);
        color: black;
        text-decoration: none;
        animation: bgFlicker 888ms linear 1; }
  .links-wrapper--slide {
    width: 100%; }
    .links-wrapper--slide .live, .links-wrapper--slide .repo {
      color: white; }
  .links-wrapper--contact {
    padding: 22px;
    font-size: 88%; }
    .links-wrapper--contact .live, .links-wrapper--contact .repo {
      font-family: "Work Sans", sans-serif;
      font-weight: bold;
      color: black;
      margin: 8% 5%; }
      .links-wrapper--contact .live:hover, .links-wrapper--contact .repo:hover {
        color: #FF523B; }

.intro {
  overflow: hidden;
  height: 100vh; }
  .intro-content-wrapper {
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    opacity: 1;
    position: absolute;
    z-index: 5;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left; }
  .intro-wrapper {
    display: flex;
    margin: 0 auto;
    width: 91%;
    height: -webkit-fill-available;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0f0f0f; }
    .intro-wrapper div {
      position: relative; }
    .intro-wrapper h1 {
      margin: 0;
      padding: 0;
      cursor: default;
      font-size: 135%;
      min-width: 100%;
      line-height: 1.26;
      font-weight: normal;
      font-family: "Source Code Pro", monospace;
      margin-bottom: 0.88em; }
    .intro-wrapper .name-span {
      padding: 0 0.3em;
      color: whitesmoke;
      background: #0f0f0f;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }

.intro-img-wrapper {
  padding: 0;
  margin: 0;
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
  align-items: left;
  justify-content: flex-start; }
  .intro-img-wrapper img {
    margin: 0 auto;
    height: 129px; }

footer {
  display: none;
  min-height: 95px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-shrink: 0; }

.cta-wrapper {
  display: none;
  border-radius: 100%;
  margin: 0;
  padding: 0; }
  .cta-wrapper--fixed {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 1.75vw;
    bottom: 1.25vw;
    z-index: 1; }

.contact-img {
  transition: 100ms ease;
  border-radius: 100%;
  border: 3px solid transparent;
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
  cursor: pointer; }
  .contact-img--wrapper img {
    height: 12vw;
    width: 12vw;
    max-height: 50px;
    max-width: 50px; }
  .contact-img:hover {
    transform: scale(1.066); }

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 22px; }
  .bio-container--image {
    min-width: 150px;
    width: 53%;
    max-width: 190px;
    margin: 0 auto; }
    .bio-container--image img {
      max-width: 100%;
      -webkit-filter: drop-shadow(5px 5px 5px #e6e6e6); }
.bio-wrapper {
  margin: 0.75% auto; }
  .bio-wrapper p {
    color: #2b2b2b;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.025em;
    width: 88%;
    max-width: 1650px;
    font-size: 120%; }

.interests ul {
  line-height: 1.5em; }

.contact-img-wrapper {
  width: 44px; }
  .contact-img-wrapper img {
    max-width: 100%; }
.contact-wrapper {
  z-index: 2;
  width: 100%; }
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 22px; }
  .contact-form ::placeholder {
    color: #9b9b9b; }
  .contact-form label {
    display: none; }
  .contact-form input {
    padding: 15px;
    border: 0;
    background: #e6e6e6;
    min-width: 70px;
    font-size: 100%;
    height: 40px;
    margin-bottom: 22px; }
    .contact-form input[name="name"] {
      flex-basis: 20.66%;
      flex-grow: 2;
      margin-right: 5px; }
    .contact-form input[name="email"] {
      flex-basis: 60%; }
    .contact-form input[name="topic"] {
      width: 100%; }
    .contact-form input[type="submit"] {
      -webkit-appearance: none;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
      font-family: "Source Code Pro", monospace;
      transition: 100ms linear;
      color: white;
      box-shadow: none;
      border: 0;
      padding: 0;
      background: #0f0f0f;
      margin: 5% auto 0;
      width: 150px;
      border-radius: 120px;
      cursor: pointer; }
      .contact-form input[type="submit"]:hover {
        background: #32D85E; }
  .contact-form textarea {
    border: 0;
    background: #e6e6e6;
    text-align: left;
    padding: 3%;
    width: 100%;
    height: 17vh;
    max-height: 400px;
    font-size: 100%;
    font-family: "Roboto", sans-serif; }

.globe {
  display: none;
  padding: 7%;
  margin-left: -8vw; }
  .globe-wrapper {
    min-width: 60%;
    max-width: 60%;
    position: fixed;
    min-height: 100vh;
    max-height: 100vh;
    opacity: 0.66;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
    .globe-wrapper img {
      object-fit: cover;
      border-radius: 100%;
      position: absolute;
      width: 62vw;
      max-width: 888px;
      min-width: 420px;
      filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }

.spin-right {
  animation: spin 6666ms linear infinite; }

.rotate-z {
  animation: rotateZ 10000ms linear infinite; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1; }
  90% {
    transform: translateX(-105%);
    opacity: 1; }
  100% {
    transform: translateX(-130%);
    opacity: 0; } }
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1); }
  22% {
    background: rgba(0, 0, 255, 0.01); }
  100% {
    background: lime;
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95; } }
@keyframes bgFlicker {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg); }
  to {
    -ms-transform: rotateZ(360deg); } }
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg); }
  to {
    -moz-transform: rotateZ(360deg); } }
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(360deg); } }
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  60% {
    opacity: 0;
    transform: translateX(7px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@media (min-width: 1024px) {
  .spotify-now-playing-widget .badge {
    max-width: none;
    width: 100%;
    color: black; }
  .spotify-now-playing-widget #now-playing {
    color: white; }

  .intro-img-wrapper img {
    height: 142px; }

  .title-bar {
    font-size: 47px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    padding: 0.4em 0 0.55em 0; }

  .blur-bg {
    display: none; }

  nav {
    background: #FFFCF9; }

  main {
    flex-direction: row;
    flex-wrap: wrap; }

  body {
    flex-direction: row; }

  .nav-wrapper {
    height: 100%;
    width: 120px; }

  header {
    cursor: default;
    margin: 0 5%;
    flex-direction: row;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%; }

  section {
    margin: 0 5%;
    flex-direction: row; }
    section[aria-label="content-header"] {
      margin-top: 0;
      padding-top: 75px;
      align-items: left;
      height: 95px;
      max-width: 580px;
      min-width: 480px;
      width: 60%; }
    section[aria-label="content"] {
      flex-wrap: wrap;
      width: 100%;
      display: block;
      overflow: visible; }

  .bio > div, .contact > div {
    margin-top: 7vh;
    position: absolute; }

  .contact {
    position: absolute;
    top: 25%; }

  .content-heading {
    margin: 0;
    padding: 0 auto; }
    .content-heading-wrapper {
      flex-direction: row;
      align-items: left; }
      .content-heading-wrapper--contact {
        flex-direction: column; }
  .content-subheading {
    margin: 0 0 0 5%;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    text-align: left; }
    .content-subheading--contact {
      width: 90%;
      margin-left: 8%; }
    .content-subheading-wrapper {
      margin-left: 9%;
      text-align: left; }
      .content-subheading-wrapper--contact {
        width: 100%;
        margin-left: 0; }

  .carousel {
    padding: 22px;
    width: 100%; }

  .slide {
    border-radius: 20px;
    filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13)); }

  .blank-work {
    border: 2px dashed grey;
    background: transparent;
    display: block;
    border-radius: 2px;
    color: #2b2b2b;
    box-shadow: none; }

  .blank-work:hover {
    border: none;
    background: #32D85E;
    color: #32D85E; }
    .blank-work:hover p {
      background: black; }
    .blank-work:hover [class|="confetti"] {
      display: block; }

  [class|="confetti"] {
    position: absolute;
    display: none; }

  .label-tech {
    font-size: 12px; }

  .confetti-0 {
    width: 7px;
    height: 9.31px;
    background-color: #FFA53B;
    top: -10%;
    left: 58%;
    opacity: 1.0712846448;
    transform: rotate(146.3740114469deg);
    animation: drop-0 4.4509523339s 0.1606508114s infinite; }

  @keyframes drop-0 {
    100% {
      top: 110%;
      left: 64%; } }
  .confetti-1 {
    width: 5px;
    height: 6.65px;
    background-color: #FFA53B;
    top: -10%;
    left: 72%;
    opacity: 1.1871390101;
    transform: rotate(200.3420733669deg);
    animation: drop-1 4.8189269001s 0.9148582376s infinite; }

  @keyframes drop-1 {
    100% {
      top: 110%;
      left: 79%; } }
  .confetti-2 {
    width: 5px;
    height: 6.65px;
    background-color: #FF523B;
    top: -10%;
    left: 7%;
    opacity: 0.7291001257;
    transform: rotate(93.7421037883deg);
    animation: drop-2 4.5227664422s 0.9698752131s infinite; }

  @keyframes drop-2 {
    100% {
      top: 110%;
      left: 12%; } }
  .confetti-3 {
    width: 7px;
    height: 9.31px;
    background-color: #FF523B;
    top: -10%;
    left: 61%;
    opacity: 1.1440522464;
    transform: rotate(77.0804971259deg);
    animation: drop-3 4.7639008395s 0.9838283422s infinite; }

  @keyframes drop-3 {
    100% {
      top: 110%;
      left: 69%; } }
  .confetti-4 {
    width: 4px;
    height: 5.32px;
    background-color: #FF523B;
    top: -10%;
    left: 54%;
    opacity: 1.2430117434;
    transform: rotate(337.6547303814deg);
    animation: drop-4 4.0774177439s 0.1428490831s infinite; }

  @keyframes drop-4 {
    100% {
      top: 110%;
      left: 55%; } }
  .confetti-5 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 21%;
    opacity: 1.4081870876;
    transform: rotate(307.9628351621deg);
    animation: drop-5 4.1368764966s 0.2791016978s infinite; }

  @keyframes drop-5 {
    100% {
      top: 110%;
      left: 33%; } }
  .confetti-6 {
    width: 7px;
    height: 9.31px;
    background-color: #FF523B;
    top: -10%;
    left: 25%;
    opacity: 1.2430692985;
    transform: rotate(193.8883980634deg);
    animation: drop-6 4.7914983381s 0.6029963781s infinite; }

  @keyframes drop-6 {
    100% {
      top: 110%;
      left: 36%; } }
  .confetti-7 {
    width: 4px;
    height: 5.32px;
    background-color: #FF523B;
    top: -10%;
    left: 85%;
    opacity: 0.8255994883;
    transform: rotate(55.0031837318deg);
    animation: drop-7 4.6753409101s 0.1639042637s infinite; }

  @keyframes drop-7 {
    100% {
      top: 110%;
      left: 94%; } }
  .confetti-8 {
    width: 6px;
    height: 7.98px;
    background-color: #FFA53B;
    top: -10%;
    left: 83%;
    opacity: 0.9031604556;
    transform: rotate(85.509703044deg);
    animation: drop-8 4.9933086678s 0.5741915598s infinite; }

  @keyframes drop-8 {
    100% {
      top: 110%;
      left: 96%; } }
  .confetti-9 {
    width: 1px;
    height: 1.33px;
    background-color: #FFA53B;
    top: -10%;
    left: 36%;
    opacity: 1.1088136942;
    transform: rotate(302.419610519deg);
    animation: drop-9 4.2439488292s 0.0181414629s infinite; }

  @keyframes drop-9 {
    100% {
      top: 110%;
      left: 49%; } }
  .confetti-10 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 95%;
    opacity: 0.7764327508;
    transform: rotate(305.3984718524deg);
    animation: drop-10 4.4916922943s 0.9041529764s infinite; }

  @keyframes drop-10 {
    100% {
      top: 110%;
      left: 110%; } }
  .confetti-11 {
    width: 2px;
    height: 2.66px;
    background-color: #FF523B;
    top: -10%;
    left: 61%;
    opacity: 0.5095792423;
    transform: rotate(78.5358328521deg);
    animation: drop-11 4.3808095376s 0.6256769774s infinite; }

  @keyframes drop-11 {
    100% {
      top: 110%;
      left: 66%; } }
  .confetti-12 {
    width: 5px;
    height: 6.65px;
    background-color: #3694C7;
    top: -10%;
    left: 17%;
    opacity: 1.1491669755;
    transform: rotate(302.836614999deg);
    animation: drop-12 4.4495476929s 0.0016737805s infinite; }

  @keyframes drop-12 {
    100% {
      top: 110%;
      left: 18%; } }
  .confetti-13 {
    width: 3px;
    height: 3.99px;
    background-color: #3694C7;
    top: -10%;
    left: 47%;
    opacity: 0.6039107807;
    transform: rotate(26.5136701475deg);
    animation: drop-13 4.7919430885s 0.8259813425s infinite; }

  @keyframes drop-13 {
    100% {
      top: 110%;
      left: 59%; } }
  .confetti-14 {
    width: 5px;
    height: 6.65px;
    background-color: #3694C7;
    top: -10%;
    left: 27%;
    opacity: 0.6934554098;
    transform: rotate(91.2885228377deg);
    animation: drop-14 4.3846532702s 0.0606176204s infinite; }

  @keyframes drop-14 {
    100% {
      top: 110%;
      left: 34%; } }
  .confetti-15 {
    width: 3px;
    height: 3.99px;
    background-color: #3694C7;
    top: -10%;
    left: 75%;
    opacity: 1.4425970101;
    transform: rotate(19.2211677153deg);
    animation: drop-15 4.9912055467s 0.1794452845s infinite; }

  @keyframes drop-15 {
    100% {
      top: 110%;
      left: 90%; } }
  .confetti-16 {
    width: 6px;
    height: 7.98px;
    background-color: #FF523B;
    top: -10%;
    left: 86%;
    opacity: 1.0320748859;
    transform: rotate(68.7183471676deg);
    animation: drop-16 4.932498661s 0.9412259672s infinite; }

  @keyframes drop-16 {
    100% {
      top: 110%;
      left: 94%; } }
  .confetti-17 {
    width: 4px;
    height: 5.32px;
    background-color: #FF523B;
    top: -10%;
    left: 40%;
    opacity: 0.5531337006;
    transform: rotate(292.2085027193deg);
    animation: drop-17 4.9379250735s 0.3498326976s infinite; }

  @keyframes drop-17 {
    100% {
      top: 110%;
      left: 42%; } }
  .confetti-18 {
    width: 2px;
    height: 2.66px;
    background-color: #3694C7;
    top: -10%;
    left: 94%;
    opacity: 1.1589718655;
    transform: rotate(231.5320893249deg);
    animation: drop-18 4.3597392337s 0.288433316s infinite; }

  @keyframes drop-18 {
    100% {
      top: 110%;
      left: 109%; } }
  .confetti-19 {
    width: 5px;
    height: 6.65px;
    background-color: #FFA53B;
    top: -10%;
    left: 4%;
    opacity: 1.150727105;
    transform: rotate(87.6720630597deg);
    animation: drop-19 4.7202267202s 0.6463063159s infinite; }

  @keyframes drop-19 {
    100% {
      top: 110%;
      left: 18%; } }
  .confetti-20 {
    width: 7px;
    height: 9.31px;
    background-color: #3694C7;
    top: -10%;
    left: 64%;
    opacity: 1.4434630019;
    transform: rotate(331.3431228726deg);
    animation: drop-20 4.1337907657s 0.6304435506s infinite; }

  @keyframes drop-20 {
    100% {
      top: 110%;
      left: 79%; } }
  .confetti-21 {
    width: 7px;
    height: 9.31px;
    background-color: #3694C7;
    top: -10%;
    left: 83%;
    opacity: 0.8409921416;
    transform: rotate(243.6440857298deg);
    animation: drop-21 4.1563615173s 0.9601549966s infinite; }

  @keyframes drop-21 {
    100% {
      top: 110%;
      left: 90%; } }
  .confetti-22 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 40%;
    opacity: 1.4360077423;
    transform: rotate(20.4295978531deg);
    animation: drop-22 4.5612826905s 0.7561567041s infinite; }

  @keyframes drop-22 {
    100% {
      top: 110%;
      left: 42%; } }
  .confetti-23 {
    width: 2px;
    height: 2.66px;
    background-color: #FF523B;
    top: -10%;
    left: 17%;
    opacity: 0.9332266538;
    transform: rotate(323.9539688209deg);
    animation: drop-23 4.6741390592s 0.9529835527s infinite; }

  @keyframes drop-23 {
    100% {
      top: 110%;
      left: 26%; } }
  .confetti-24 {
    width: 2px;
    height: 2.66px;
    background-color: #FFA53B;
    top: -10%;
    left: 3%;
    opacity: 0.6411375608;
    transform: rotate(98.948124671deg);
    animation: drop-24 4.9676119046s 0.5775943107s infinite; }

  @keyframes drop-24 {
    100% {
      top: 110%;
      left: 17%; } }
  .confetti-25 {
    width: 7px;
    height: 9.31px;
    background-color: #3694C7;
    top: -10%;
    left: 90%;
    opacity: 1.3277536597;
    transform: rotate(231.1028900638deg);
    animation: drop-25 4.4416020926s 0.4794836972s infinite; }

  @keyframes drop-25 {
    100% {
      top: 110%;
      left: 100%; } }
  .confetti-26 {
    width: 1px;
    height: 1.33px;
    background-color: #3694C7;
    top: -10%;
    left: 77%;
    opacity: 1.0969342397;
    transform: rotate(174.7737944426deg);
    animation: drop-26 4.0214257227s 0.3799931904s infinite; }

  @keyframes drop-26 {
    100% {
      top: 110%;
      left: 92%; } }
  .confetti-27 {
    width: 1px;
    height: 1.33px;
    background-color: #3694C7;
    top: -10%;
    left: 40%;
    opacity: 1.2267547347;
    transform: rotate(52.9518770774deg);
    animation: drop-27 4.8094077267s 0.0239401508s infinite; }

  @keyframes drop-27 {
    100% {
      top: 110%;
      left: 43%; } }
  .confetti-28 {
    width: 3px;
    height: 3.99px;
    background-color: #3694C7;
    top: -10%;
    left: 12%;
    opacity: 0.7538166588;
    transform: rotate(338.0741219832deg);
    animation: drop-28 4.6027491253s 0.7050627444s infinite; }

  @keyframes drop-28 {
    100% {
      top: 110%;
      left: 25%; } }
  .confetti-29 {
    width: 7px;
    height: 9.31px;
    background-color: white;
    top: -10%;
    left: 45%;
    opacity: 0.9321721757;
    transform: rotate(15.930076636deg);
    animation: drop-29 4.2116093841s 0.6959429022s infinite; }

  @keyframes drop-29 {
    100% {
      top: 110%;
      left: 52%; } }
  .confetti-30 {
    width: 8px;
    height: 10.64px;
    background-color: #FFA53B;
    top: -10%;
    left: 46%;
    opacity: 0.9466954801;
    transform: rotate(86.1281353337deg);
    animation: drop-30 4.9397769882s 0.421960942s infinite; }

  @keyframes drop-30 {
    100% {
      top: 110%;
      left: 55%; } }
  .confetti-31 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 12%;
    opacity: 0.5873753198;
    transform: rotate(231.5589539973deg);
    animation: drop-31 4.3445509147s 0.6441740861s infinite; }

  @keyframes drop-31 {
    100% {
      top: 110%;
      left: 22%; } }
  .confetti-32 {
    width: 3px;
    height: 3.99px;
    background-color: #3694C7;
    top: -10%;
    left: 100%;
    opacity: 0.6960189106;
    transform: rotate(68.4931646865deg);
    animation: drop-32 4.280597217s 0.5230881941s infinite; }

  @keyframes drop-32 {
    100% {
      top: 110%;
      left: 107%; } }
  .confetti-33 {
    width: 1px;
    height: 1.33px;
    background-color: #FF523B;
    top: -10%;
    left: 70%;
    opacity: 0.7278549925;
    transform: rotate(124.2934845196deg);
    animation: drop-33 4.6921833377s 0.3892953159s infinite; }

  @keyframes drop-33 {
    100% {
      top: 110%;
      left: 81%; } }
  .confetti-34 {
    width: 5px;
    height: 6.65px;
    background-color: #3694C7;
    top: -10%;
    left: 89%;
    opacity: 0.8511840614;
    transform: rotate(167.0868412466deg);
    animation: drop-34 4.2720951596s 0.1467829206s infinite; }

  @keyframes drop-34 {
    100% {
      top: 110%;
      left: 101%; } }
  .confetti-35 {
    width: 2px;
    height: 2.66px;
    background-color: #FF523B;
    top: -10%;
    left: 14%;
    opacity: 1.4745485008;
    transform: rotate(349.1590639218deg);
    animation: drop-35 4.4788872896s 0.3114238926s infinite; }

  @keyframes drop-35 {
    100% {
      top: 110%;
      left: 28%; } }
  .confetti-36 {
    width: 6px;
    height: 7.98px;
    background-color: #3694C7;
    top: -10%;
    left: 19%;
    opacity: 0.6040915106;
    transform: rotate(345.3857187938deg);
    animation: drop-36 4.5175372018s 0.6290383213s infinite; }

  @keyframes drop-36 {
    100% {
      top: 110%;
      left: 29%; } }
  .confetti-37 {
    width: 7px;
    height: 9.31px;
    background-color: white;
    top: -10%;
    left: 19%;
    opacity: 0.5595206779;
    transform: rotate(8.3250483288deg);
    animation: drop-37 4.7075594534s 0.2338333012s infinite; }

  @keyframes drop-37 {
    100% {
      top: 110%;
      left: 32%; } }
  .confetti-38 {
    width: 8px;
    height: 10.64px;
    background-color: #3694C7;
    top: -10%;
    left: 88%;
    opacity: 1.4616987918;
    transform: rotate(306.9587598427deg);
    animation: drop-38 4.9312583401s 0.9276754875s infinite; }

  @keyframes drop-38 {
    100% {
      top: 110%;
      left: 101%; } }
  .confetti-39 {
    width: 4px;
    height: 5.32px;
    background-color: #FFA53B;
    top: -10%;
    left: 84%;
    opacity: 0.7224729255;
    transform: rotate(254.2008188671deg);
    animation: drop-39 4.6310721793s 0.0499284011s infinite; }

  @keyframes drop-39 {
    100% {
      top: 110%;
      left: 98%; } }
  .confetti-40 {
    width: 5px;
    height: 6.65px;
    background-color: white;
    top: -10%;
    left: 10%;
    opacity: 1.3169816268;
    transform: rotate(38.7726618934deg);
    animation: drop-40 4.6601412437s 0.6107538162s infinite; }

  @keyframes drop-40 {
    100% {
      top: 110%;
      left: 20%; } }
  .confetti-41 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 45%;
    opacity: 0.8049942502;
    transform: rotate(359.9984697359deg);
    animation: drop-41 4.328203156s 0.3335383998s infinite; }

  @keyframes drop-41 {
    100% {
      top: 110%;
      left: 48%; } }
  .confetti-42 {
    width: 8px;
    height: 10.64px;
    background-color: #3694C7;
    top: -10%;
    left: 1%;
    opacity: 0.5373067128;
    transform: rotate(299.6020499449deg);
    animation: drop-42 4.2301864458s 0.2495027029s infinite; }

  @keyframes drop-42 {
    100% {
      top: 110%;
      left: 3%; } }
  .confetti-43 {
    width: 7px;
    height: 9.31px;
    background-color: #FF523B;
    top: -10%;
    left: 76%;
    opacity: 0.7765995055;
    transform: rotate(276.926101182deg);
    animation: drop-43 4.6145616848s 0.4540303312s infinite; }

  @keyframes drop-43 {
    100% {
      top: 110%;
      left: 86%; } }
  .confetti-44 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 68%;
    opacity: 0.9986604671;
    transform: rotate(74.6650658232deg);
    animation: drop-44 4.9874006272s 0.3505846263s infinite; }

  @keyframes drop-44 {
    100% {
      top: 110%;
      left: 81%; } }
  .confetti-45 {
    width: 2px;
    height: 2.66px;
    background-color: #FFA53B;
    top: -10%;
    left: 8%;
    opacity: 1.0570202415;
    transform: rotate(62.5913071298deg);
    animation: drop-45 4.3694282009s 0.5679890592s infinite; }

  @keyframes drop-45 {
    100% {
      top: 110%;
      left: 23%; } }
  .confetti-46 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 90%;
    opacity: 1.1856633608;
    transform: rotate(258.6437303429deg);
    animation: drop-46 4.2242226729s 0.4649262964s infinite; }

  @keyframes drop-46 {
    100% {
      top: 110%;
      left: 96%; } }
  .confetti-47 {
    width: 6px;
    height: 7.98px;
    background-color: #3694C7;
    top: -10%;
    left: 66%;
    opacity: 0.9061869308;
    transform: rotate(10.1349987188deg);
    animation: drop-47 4.448230357s 0.4912094348s infinite; }

  @keyframes drop-47 {
    100% {
      top: 110%;
      left: 67%; } }
  .confetti-48 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 8%;
    opacity: 1.3715526947;
    transform: rotate(82.4800516019deg);
    animation: drop-48 4.3285820251s 0.8339630693s infinite; }

  @keyframes drop-48 {
    100% {
      top: 110%;
      left: 22%; } }
  .confetti-49 {
    width: 6px;
    height: 7.98px;
    background-color: #3694C7;
    top: -10%;
    left: 30%;
    opacity: 0.5872670994;
    transform: rotate(308.5107608071deg);
    animation: drop-49 4.1575805495s 0.758076948s infinite; }

  @keyframes drop-49 {
    100% {
      top: 110%;
      left: 45%; } }
  .confetti-50 {
    width: 1px;
    height: 1.33px;
    background-color: #3694C7;
    top: -10%;
    left: 97%;
    opacity: 0.6580110267;
    transform: rotate(280.0843120141deg);
    animation: drop-50 4.5022566865s 0.4861806595s infinite; }

  @keyframes drop-50 {
    100% {
      top: 110%;
      left: 98%; } }
  .grid {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    grid-gap: 2.5%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(5, minmax(200px, auto)); }
    .grid .description-wrapper {
      min-width: 100%;
      font-size: 80%; }
      .grid .description-wrapper h3 {
        font-size: 20px; }
    .grid-wrapper {
      height: auto;
      margin: 2% auto;
      padding: 22px; }
    .grid-item {
      min-width: 100%;
      margin: 0 auto; }
      .grid-item--10 {
        grid-area: 1 / 3 / 3 / 4; }
      .grid-item--9 {
        grid-area: 1 / 1 / 3 / 3; }
      .grid-item--8 {
        grid-area: 3 / 1 / 5 / 2; }
      .grid-item--7 {
        grid-area: 3 / 2 / 5 / 4; }
      .grid-item--6 {
        grid-area: 5 / 3 / 7 / 4; }
      .grid-item--5 {
        grid-area: 5 / 1 / 7 / 3; }
      .grid-item--4 {
        grid-area: 7 / 1 / 9 / 2; }
      .grid-item--3 {
        grid-area: 7 / 2 / 9 / 4; }
      .grid-item--2 {
        grid-area: 9 / 3 / 11 / 4; }
      .grid-item--1 {
        grid-area: 9 / 1 / 11 / 3; }
    .grid img {
      max-height: 46.66vh; }
    .grid .details {
      padding: 2px 8px !important;
      letter-spacing: 1px; }

  .globe {
    display: block;
    opacity: 0.88; }

  .nav {
    border-right: 1px dotted #d6d6d6;
    min-height: 100%;
    width: 120px;
    position: fixed; }
    .nav-wrapper {
      position: relative; }
    .nav ul {
      height: 85%;
      width: 100%;
      flex-direction: column; }
      .nav ul li {
        display: inline-block; }

  .bio {
    height: 100%; }
    .bio-container--image {
      margin: 0;
      border: 0;
      padding: 0;
      border: 0; }
      .bio-container--image img {
        max-width: 100%; }
    .bio-wrapper p {
      font-size: 130%;
      line-height: 1.3;
      width: 33%; }

  .socials-wrapper img {
    margin: 1% 50px 0 0; }

  .contact {
    width: 40%; }
    .contact-wrapper {
      height: 100%;
      width: 100%; }
    .contact-form {
      padding: 0;
      margin: 0 0 0 5%; }

  .intro {
    overflow: hidden; }
    .intro-wrapper {
      width: 66%;
      max-width: 1650px; }
      .intro-wrapper h1 {
        font-size: 180%;
        width: 49%; } }
@media (min-width: 2300px) {
  .grid {
    grid-auto-rows: minmax(230px, auto);
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-template-rows: repeat(5, minmax(230px, auto)); }
    .grid .description-wrapper {
      min-width: 100%;
      font-size: 92%; }
      .grid .description-wrapper h3 {
        font-size: 27.5px; }
    .grid .header-wrapper .details {
      font-size: 12.33px !important; }
    .grid-wrapper {
      margin: 2% auto; }
    .grid-item {
      min-height: 550px;
      max-height: 550px;
      min-width: 100%;
      margin: 0 auto; }
      .grid-item--10 {
        grid-area: 1 / 3 / 3 / 4; }
      .grid-item--9 {
        grid-area: 1 / 1 / 3 / 3; }
      .grid-item--8 {
        grid-area: 3 / 1 / 5 / 2; }
      .grid-item--7 {
        grid-area: 3 / 2 / 5 / 4; }
      .grid-item--6 {
        grid-area: 5 / 3 / 7 / 4; }
      .grid-item--5 {
        grid-area: 5 / 1 / 7 / 3; }
      .grid-item--4 {
        grid-area: 7 / 1 / 9 / 2; }
      .grid-item--3 {
        grid-area: 7 / 2 / 9 / 4; }
      .grid-item--2 {
        grid-area: 9 / 3 / 11 / 4; }
      .grid-item--1 {
        grid-area: 9 / 1 / 11 / 3; }
    .grid img {
      max-height: none; } }
@media (max-height: 600px) {
  .intro-content-2 {
    display: none; } }

/*# sourceMappingURL=main.css.map */
